<div class="flex justify-center items-center h-screen bg-indigo-100">
    <form [formGroup]="recuperarForm" class="w-full max-w-md p-8 bg-white rounded-lg shadow-md">
      <div>
        <label for="usuario" class="block text-sm font-medium text-gray-700">
          Ingrese el nombre de usuario
        </label>
        <input formControlName="usuario" name="usuario" id="usuario" type="texto" required class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" placeholder="Usuario">
      </div>

      <br>
      <button type="submit"  (click)=" enviarCorreo()" class="group relative flex w-full justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
            Recuperar contraseña
      </button>
    </form>
</div>
