<body class="bg-gray-100">


  <header class="bg-white shadow">
      <div class="max-w-7xl mx-auto py-6 px-4 sm:px-6 lg:px-8">


      <table class="border-separate border border-slate-400">
        <tr>
          <th class=" bordes border-indigo-900">Usuario</th>
          <th class=" bordes border-indigo-900"> Nombre</th>
          <th class=" bordes border-indigo-900">Apellido</th>
          <th class=" bordes border-indigo-900"> Correo electronico</th>
        </tr>
        <tr *ngFor="let item of datosC">
          <td class=" bordes border-indigo-900">{{item.usuario}}</td>
          <td class=" bordes border-indigo-900">{{item.nombre}}</td>
          <td class=" bordes border-indigo-900">{{item.apellido}}</td>
          <td class=" bordes border-indigo-900">{{item.correo}}</td>

        </tr>
      </table>
    </div>
  </header>


</body>
